.modal__close_type_preview {
  background-image: url("../../assets/icon_close_white.svg");
}

.modal__content_type_image {
  padding: 0;
  overflow: hidden;
}

.modal__image {
  width: 100%;
  object-fit: cover;
}

.modal__bottom {
  padding: 20px 32px 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.modal__text-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal__caption,
.modal__weather {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__button {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #ff4d00;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
}

.modal__button:hover {
  cursor: pointer;
}
